<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="/express/public/js/test.js"></script>
</head>

<body>
    <wrap>
        <container>
        <h1>글 목록</h1>
        <h2>글 갯수 <%= wordCounts %></h2>
        <ul>
            <% if(wordCounts > 0) { %>
            <% for(let i=0; i < wordCounts; i++) { %>
            <li>
            <p>TITLE: <%= WORD[i].title %></p>
            <p>CONTENT: <%= WORD[i].content %></p>
            </li>
            <% } %> <% } else { %>
            <li>글 정보가 없습니다!</li>
            <% } %>
        </ul>
        <img src="./image/react-logo.png" alt="리액트 로고">
    </container>
</wrap>
</body>

</html>